.info-wrapper {
  height: 600px;
  width: 80%;
  margin-left: 10%;
  margin-top: -50px;
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.5);
  background-color: white;
  position: relative;
  display: grid;
  grid-template-columns: 380px 1fr;
  grid-template-rows: 100%;
  border-radius: 20px;
}

.info-wrapper:after {
  content: '';
  width: 100px;
  height: 100%;
  border: 5px solid transparent;
  border-radius: 20px;
  border-right-color: #85d3ff;
  position: absolute;
  right: 0;
  top: 0;
}

.info-wrapper .image-container {
  height: 100%;
  width: 380px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  position: relative;
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.5);
}

.info-wrapper .image-container .anime-image {
  height: 100%;
  width: 100%;
  background-image: url("../img/malbg.jpg");
  background-size: cover;
  background-position: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  transition: 0.4s;
}

.info-wrapper .image-container .view-on-mal {
  color: white;
  font-size: 0.8rem;
  font-family: 'KozGoPro Light';
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.4s;
}

.info-wrapper .image-container:hover {
  cursor: pointer;
}

.info-wrapper .image-container:hover > .anime-image {
  filter: brightness(0.4);
}

.info-wrapper .image-container:hover > .view-on-mal {
  opacity: 1;
}

.info-wrapper .info-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 65% 35%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.info-wrapper .info-container .synopsis-container {
  color: #5b6076;
  height: 100%;
  background-color: white;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px auto;
  border-top-right-radius: 20px;
}

.info-wrapper .info-container .synopsis-container .synopsis-header {
  padding: 80px 0;
  width: 80%;
  margin-left: 10%;
  font-size: 2.5rem;
  font-family: 'KozGoPro Med';
  letter-spacing: 1px;
}

.info-wrapper .info-container .synopsis-container .synopsis-text {
  padding: 50px 0;
  margin-top: 40px;
  font-family: 'KozGoPro Light';
  font-size: 0.8rem;
  width: 80%;
  margin-left: 10%;
}

@media (max-width: 1290px) {
  .info-wrapper .info-container .synopsis-container .synopsis-header {
    text-align: center;
    font-size: 2rem;
    padding: 40px 0;
  }
  .info-wrapper .info-container .synopsis-container .synopsis-text {
    padding: 20px 0;
    margin-top: 0;
  }
}

.info-wrapper .info-container .synopsis-container .view-on-mal-sml {
  display: none;
}

.info-wrapper .info-container .stats-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 200px;
  grid-template-rows: 100%;
  background-color: #fbfcfd;
  border-bottom-right-radius: 20px;
}

.info-wrapper .info-container .stats-container .small-stats-flex {
  display: flex;
  flex-wrap: wrap;
  height: 120px;
  margin: auto 10px auto 60px;
}

.info-wrapper .info-container .stats-container .small-stats-flex .stats-bubble {
  color: #355f5b;
  background-color: white;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  padding: 0 30px;
  font-size: 0.8rem;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  transition: 0.4s;
  user-select: none;
}

.info-wrapper .info-container .stats-container .small-stats-flex .stats-bubble:hover {
  box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.4);
}

@media (max-width: 1290px) {
  .info-wrapper .info-container .stats-container .small-stats-flex {
    height: 100px;
  }
  .info-wrapper .info-container .stats-container .small-stats-flex .stats-bubble {
    font-size: 0.7rem;
    height: 30px;
    line-height: 30px;
    padding: 0 25px;
  }
}

@media (max-width: 1110px) {
  .info-wrapper .info-container .stats-container .small-stats-flex .stats-bubble {
    font-size: 0.8rem;
    height: 45px;
    line-height: 45px;
    padding: 0 45px;
    flex: 1;
  }
  .info-wrapper .info-container .stats-container .small-stats-flex .stats-genre, .info-wrapper .info-container .stats-container .small-stats-flex .stats-aired {
    display: none;
  }
}

.info-wrapper .info-container .stats-container .studio-logo {
  border-radius: 50%;
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.2);
  width: 120px;
  height: 120px;
  background: white url("../img/whitefox.png");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  justify-self: center;
  margin: auto 0;
  transition: 0.4s;
}

.info-wrapper .info-container .stats-container .studio-logo:hover {
  box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

@media (max-width: 992px) {
  .info-wrapper {
    width: 400px;
    margin-left: 50%;
    transform: translateX(-50%);
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.5);
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    border-radius: 20px;
  }
  .info-wrapper:after {
    display: none;
  }
  .info-wrapper .image-container {
    width: 100%;
    border-radius: 20px;
    position: absolute;
    z-index: -1;
  }
  .info-wrapper .image-container .anime-image {
    border-radius: 15px;
    filter: brightness(0.6);
  }
  .info-wrapper .image-container .view-on-mal {
    display: none;
  }
  .info-wrapper .info-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 360px 240px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .info-wrapper .info-container .synopsis-container {
    color: white;
    background-color: transparent;
  }
  .info-wrapper .info-container .synopsis-container .synopsis-header {
    padding: 30px 0;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    font-size: 2rem;
    font-family: 'KozGoPro Med';
    letter-spacing: 1px;
  }
  .info-wrapper .info-container .synopsis-container .synopsis-text {
    padding: 0 20px;
    margin-top: 10px;
    font-family: 'KozGoPro Light';
    font-size: 0.7rem;
    text-align: center;
    width: 80%;
    margin-left: 10%;
  }
  .info-wrapper .info-container .synopsis-container .view-on-mal-sml {
    display: block;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    text-decoration: none;
  }
  .info-wrapper .info-container .stats-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 200px;
    grid-template-rows: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom-right-radius: 20px;
  }
  .info-wrapper .info-container .stats-container .small-stats-flex {
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    margin: 50% 10px 0 60px;
    transform: translateY(-50%);
  }
  .info-wrapper .info-container .stats-container .small-stats-flex .stats-bubble {
    color: #355f5b;
    background-color: white;
    box-shadow: 1px 1px 10px 1px black;
    border-radius: 40px;
    padding: 0 30px;
    font-size: 0.8rem;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    transition: 0.4s;
    user-select: none;
    text-align: center;
    flex: 1;
  }
  .info-wrapper .info-container .stats-container .small-stats-flex .stats-bubble:hover {
    box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.4);
  }
  .info-wrapper .info-container .stats-container .small-stats-flex .stats-aired {
    display: block;
  }
  .info-wrapper .info-container .stats-container .studio-logo {
    border-radius: 50%;
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.2);
    width: 120px;
    height: 120px;
    background: white url("../img/whitefox.png");
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    justify-self: center;
    margin: auto 0;
    transition: 0.4s;
  }
  .info-wrapper .info-container .stats-container .studio-logo:hover {
    box-shadow: 1px 1px 12px 1px #85d3ff;
    cursor: pointer;
  }
}

.cds-wrapper {
  height: 450px;
  width: 900px;
  background-color: white;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  position: relative;
  margin: 25px auto;
  box-shadow: 1px 1px 25px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.cds-wrapper .side-decor {
  position: absolute;
  width: 100px;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #fbfcfd;
}

.cds-wrapper .cd-wrapper {
  width: 400px;
  height: 400px;
  margin: auto 0;
  justify-self: center;
  position: relative;
}

.cds-wrapper .cd-wrapper .ugoku-ugoku {
  background-image: url("../img/ugoku.jpg");
}

.cds-wrapper .cd-wrapper .more-one-night {
  background-image: url("../img/moreonenight.jpg");
}

.cds-wrapper .cd-wrapper .cd-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: 0.4s;
  position: absolute;
}

.cds-wrapper .cd-wrapper .cd-text {
  position: relative;
  z-index: 1;
  opacity: 0;
  color: white;
  font-size: 0.7rem;
  transition: 0.4s;
  text-align: center;
  margin-top: 30%;
  line-height: 25px;
}

.cds-wrapper .cd-wrapper .cd-text .cd-title {
  font-size: 2rem;
  font-family: 'KozGoPro Heavy';
}

.cds-wrapper .cd-wrapper:hover {
  cursor: pointer;
}

.cds-wrapper .cd-wrapper:hover > .cd-image {
  filter: brightness(0.3);
}

.cds-wrapper .cd-wrapper:hover > .cd-text {
  opacity: 1 !important;
}

@media (max-width: 992px) {
  .cds-wrapper {
    height: 900px;
    width: 450px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
  }
  .cds-wrapper .side-decor {
    width: 100%;
    bottom: 0;
    height: 100px;
  }
}

#quote-parallax-img1 {
  background-image: url("../img/q1.jpg");
}

#quote-parallax-img2 {
  background-image: url("../img/q2.jpg");
}

#quote-parallax-img3 {
  background-image: url("../img/q3.jpg");
}

#quote-parallax-img4 {
  background-image: url("../img/q4.jpg");
}

.quote-text {
  font-family: 'KozGoPro Heavy';
  font-size: 4rem;
  letter-spacing: -2px;
  padding: 0 20px;
  text-align: center;
  margin-top: 200px;
  text-shadow: 1px 1px 10px black;
}

.ssr {
  font-size: 6rem;
}

.back-up {
  position: absolute;
  z-index: 10;
  right: 20px;
  bottom: 20px;
  background-color: white;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.back-up i {
  background: -webkit-linear-gradient(#85d3ff, #0096eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1350px) {
  .quote-text {
    font-size: 3rem;
  }
  .ssr {
    font-size: 6rem;
  }
}

@media (max-width: 1000px) {
  .quote-text {
    font-size: 2rem;
  }
  .ssr {
    font-size: 5rem;
  }
}

@media (max-width: 576px) {
  .ssr {
    font-size: 3rem;
    width: 3rem;
    margin: 50px auto;
    transform: translateX(-50%);
    line-height: 120%;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: white;
}

body {
  background-color: #fbfcfd;
}

.home-parallax-container {
  height: 100vh;
}

.home-parallax-container .home-parallax {
  height: 100vh;
}

.home-parallax-container .home-parallax #home-parallax-img {
  background-image: url("../img/bg1.jpg");
}

.parallax-image, .no-parallax-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(0.7);
  z-index: -1;
}

.parallax-image {
  background-attachment: fixed;
}

.large-title {
  color: white;
  font-size: 6rem;
  position: absolute;
  text-shadow: 1px 1px 20px black;
  font-family: 'KozGoPro Heavy';
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  bottom: 60%;
}

.shousai-button {
  background-color: white;
  border-radius: 25px;
  color: #355f5b;
  border: none;
  font-family: 'KozGoPro Reg';
  padding: 14px 40px;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
  position: absolute;
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.7);
  transition: 0.5s;
}

.shousai-button:hover {
  cursor: pointer;
  background-color: #b3b3b3;
}

@media (max-width: 1050px) {
  .large-title {
    font-size: 4rem;
  }
}

@media (max-width: 750px) {
  .large-title {
    font-size: 3rem;
    line-height: 110%;
    width: 4rem;
    bottom: 40%;
  }
  .shousai-button {
    padding: 10px 30px;
    bottom: 20%;
  }
}

.forest-parallax-container {
  margin-top: -100px;
}

#forest-parallax-img {
  background-image: url("../img/bg2.jpg");
}

.invisible {
  visibility: hidden;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 992px) {
  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translate(-50%, 20%);
    }
    to {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
}

.fadeUp {
  animation: fadeUp 0.5s;
}
/*# sourceMappingURL=main.css.map */